/*===================
product section
===================*/
.productSec {
   position: absolute; 
  &__topArea {
    padding: 25% 0 25% 0;
    margin-left: 25%;
    position: relative;
    z-index: 2;
    background:
    rgba(255, 255, 255, 0.5);
  }


  &__topAreaTopCont{
    width: 50%;
  }

  &__topAreaRightFig {
    width: 30%;
  }

  &__topAreaBottomCont {
    display: flex;
  }

}
