footer.siteFooter
    .siteFooter__top
        .siteFooter__container
            .siteFooter__title
                p.siteFooter__titleLogoCont
                    img.siteFooter__titleLogo(src=`${relativePath}/_assets/images/footerSec/siteFooterLogo.png`, alt="HYBRID NECKFAN Nino ニーノ")
            .siteFooter__bottom
                p.siteFooter__bottomTitle Kirala Air
                ul.siteFooter__bottomListCont
                    li.siteFooter__bottomItemCont
                        a.siteFooter__bottomItemLink(href="https://www.kirala.jp/air/law/" target="_blank" rel="noopener noreferrer")
                            p.siteFooter__bottomItemText 特定商取引に関する法律に基づく表記
                    li.siteFooter__bottomItemCont
                        a.siteFooter__bottomItemLink(href="https://www.kirala.jp/company/" target="_blank" rel="noopener noreferrer")
                            p.siteFooter__bottomItemText 会社概要
                    li.siteFooter__bottomItemCont
                        a.siteFooter__bottomItemLink(href="https://www.kirala.jp/privacy/" target="_blank" rel="noopener noreferrer")
                            p.siteFooter__bottomItemText 個人情報保護をおよび取扱いポリシー


        //- back to top
        .toTop.js-toTop

        p.copyrights &copy; 2021 Kirala Co.Ltd All rights reserved

|
|

script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)
script(src=`https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js`)
script(src=`${relativePath}/_assets/js/bundle.js`)
